/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-may-2015, 17:26:56
    Author     : Trabajo
*/

.listaBotones{
    display: inline-block;
}
.listaBotones li{
    list-style: none;
    cursor:pointer;
}

.listaBotones li{
    background-color: gray;
    height: 77px;
    width: 120px;
    border:1px solid lightgray;
    border-radius: 10px;
    color:white;
    font-family: fantasy;
    text-align: center;
    font-size: 18px;
}
.listaBotones li span{
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    cursor:pointer;
}

#panel{
    position: absolute;
    top: 500px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 1360px;
    height: 534px;
    background-color: rgba(100,100,100,.5);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}

#mapaDiv{
    background-color: rgba(50,50,50,.5);
    width: 1084px;
    height: 536px;
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
#mapaDiv div{
    display:none;
}

.botonClick{
    background-color: #292929 !important;
}

.deptos{
    background-color: rgba(256,10,10,.6);
    position:absolute;
    border-radius:10px;
}
.deptos span{
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    color:white;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: auto;
}
#depto1{
             width: 260px;
             height: 140px;
             z-index: 1000;
             top: 60px;
             right:10px;
}
#depto1{
             width: 260px;
             height: 140px;
             z-index: 1000;
             top: 60px;
             right:10px;
}
#depto2{
             width: 260px;
             height: 140px;
             z-index: 1000;
             top: 60px;
             right:290px;
}

#depto3{
             width: 260px;
             height: 140px;
             z-index: 1000;
             top: 60px;
             right:565px;
}
#depto4{
             width: 260px;
             height: 190px;
             z-index: 1000;
             top: 230px;
             right:10px;
}
#depto5{
             width: 260px;
             height: 190px;
             z-index: 1000;
             top: 230px;
             right:290px;
}
#depto6{
             width: 260px;
             height: 190px;
             z-index: 1000;
             top: 230px;
             right:565px;
             
}


#depto7{
             width: 160px;
             height: 160px;
             z-index: 1000;
             top: 50px;
             left:55px;
}
#depto8{
             width: 160px;
             height: 190px;
             z-index: 1000;
             top: 230px;
             left:55px;
}

#depto9{
             width: 410px;
             height: 100px;
             z-index: 1000;
             bottom:0px;
             left:10px;
}
#depto10{
             width: 200px;
             height: 100px;
             z-index: 1000;
             bottom:0px;
             left:415px;
}
#depto11{
             width: 290px;
             height: 100px;
             z-index: 1000;
             bottom:0px;
             left:610px;
}

#depto12{
             width: 450px;
             height: 30px;
             z-index: 1000;
             top:0px;
             left:0;
}
#depto13{
             width: 537px;
             height: 30px;
             z-index: 1000;
             top:0px;
             right:15px;
}

#depto14{
             width: 30px;
             height: 450px;
             z-index: 1000;
             top:0px;
             left:0px;
}
#depto15{
             width: 60px;
             height: 50px;
             z-index: 1000;
             top:0px;
             left:460px;
}