/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: #00cccc;
    background-image: url("img/congruent_pentagon.png");
    width: 100%;
    overflow-x: hidden;
}

header, footer{
    padding-left: 5px;
    width: 100%;
    background-color: darkslategray;
}

header a{
    transition:.3s all ;
    -webkit-transition: all .3s;
}

header a:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

header img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

header a{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

header{
    height: 70px;
}

footer{
    position: fixed;
    bottom:0px;
    height: 50px;
    text-align: center;
}

header span, footer span{
    display:inline-block;
    font-size: 30px; 
    line-height: 70px;
    font-family: fantasy;
    color:lightgray;    
    vertical-align: top;
}

.inlineBlock{
    display: inline-block;
}
a{
    color: black;
}

.puntero{
    cursor: pointer;
}

footer span{
    line-height: 50px;
}

footer a:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
footer img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}




.lol{

}

/* The animation code */
@keyframes animacion1 {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100%  {opacity: 0;}
}
@-webkit-keyframes animacion1 {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100%  {opacity: 0;}
}

footer span{
    font-size: 40px;
}
/* The element to apply the animation to */
#mensaje1 {
    -webkit-animation: animacion1 5s;
    opacity:0;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#mensaje2 {
    position:relative;
    top:-50px;
      -webkit-animation: animacion1 5s;
    opacity:1;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


#paginaActual{
    float:right;
    margin-right: 20px;
}
.displayNone{
    display: none;
}
#promocioneslol{
    position: fixed;
    bottom: 50px;
    width: 800px;
    left: 0px;
    right:0px;
    margin: auto;
    height: 40px;
    background-color: yellow;
    font-size: 20px;
    font-family: fantasy;
}
#promocioneslol div{
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}
#promocioneslol div img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

nav{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
nav > div{
    display: inline-block;
    background-color: rgba(40,0,0,.1);
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
}

nav a{
    display: inline-block;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.2);   
    color:white;
    -webkit-box-shadow: 0px 6px 64px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 64px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 64px 4px rgba(0,0,0,0.75);
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    -webkit-transition: all .3s;
    transition:all .3s;
        font-size: 20px;
}

nav a:nth-child(1){
    background-color: rgba(255,0,0,.5);
}

nav a:nth-child(2){
    background-color: rgba(0,0,255,.5);
}

nav a:hover{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
}

nav img {
    width: 100%;
   -webkit-filter: invert(100%);
    filter: invert(100%);
}

nav span{
    font-family: fantasy;
    
}

#slider1_container{
    -webkit-box-shadow: -9px 35px 64px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 35px 64px 4px rgba(0,0,0,0.75);
    box-shadow: -9px 35px 64px 4px rgba(0,0,0,0.75);
    
}




.textoAnuncio{
    display:inline-block;
    margin:30px;
    padding: 10px;
    text-align: left;
    text-transform: uppercase; 
    font-size: 30px;
    color: #FFFFFF;
    font-family: fantasy;  
    text-align: center;
   background-color: rgba(55,55,0,.5);
   border-radius: 10px;
}